html, body {
    font-size: 0.813rem;
    font: Verdana;
    color: #666;
    background-color: #02529C;
}

h1{
    font-size: 2.308rem;
    color: #DC1E35;
}

h2{
    margin-top: 0px;
    font-size: 1.538rem;
    color: #02529C;
}

h3{
    font-size: 1.231em;
    color: #DC1E35;
}

p{
    font-size: 1rem;
}

.p-source a{
    color: #333;
    font-style: italic;
    text-decoration: underline;
}

.container{
    background-color: #fff;
}

header a{
    border: 0px;
    border-left: 1px solid #fff;
    color: #fff !important
}

.navbar {
    background-color: #DC1E35;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-brand{
    border: 0px;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 5px;
    margin-top: -5px;
}

.panel {
    border:  1px solid #DC1E35;
}

.panel-header{
    border-bottom: 1px solid #DC1E35;
    padding: 0px 15px;
}

footer{
    background-color: #DC1E35;
    border-radius: 3px 3px 0 0;
    vertical-align: middle;
}

footer a{
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
}

thead{
    font-size: 1.538rem;
    color: #DC1E35;
}

table tr:last-of-type {
    background: #DC1E35;
    color: #000;
}
.table .header-row {
    background: #02529C;
    
}

.carousel-img{
    max-width: 225px;
    max-height: 225px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

video{
    width: 640px;
    height: 430px;
    margin-top: -30px;
}

.logo{
    float: right;
    width: 30px;
    height: 30px;
}
