.contextmenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #DC1E35;
    background-color: #02529C;
    white-space: nowrap;
    color: #fff;
    font-size: 1.231rem;
    border-radius: 5px;
}

.contextmenu h4{
    padding: 10px;
    margin: 0px;
    background-color: #DC1E35
}

.contextlist{
    padding: 0;
    margin: 0;
}

.contextmenu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    border-bottom: 1px solid #DC1E35;
}

.contextmenu li#bold {
    font-weight: bold;
}

.contextmenu li#italic {
    font-style: italic;
}

.contextmenu li:hover {
    background-color: #DC1E35;
}